.footer {
  background: var(--deep-green);
  color: var(--white);
  padding: 20px;
}

.footer .container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.footer .container li {
  flex-basis: 25%;
  list-style: none;
  display: flex;
  flex-direction: column;
}

.footer-contact ul li,
.footer-1,
.explore ul li,
.others ul li {
  display: flex;
  align-items: flex-start;
  padding: 10px;
}

.footer-1 .footer-logo {
  width: 50%;
}

.footer-contact-list {
  display: flex;
  align-items: flex-start;
  margin: 5px 0;
}
