.footer {
  background: var(--deep-green);
  color: var(--white);
  padding: 20px;
}

.footer .footer-ul {
  display: flex;
  justify-content: space-between;
}

.footer li {
  list-style: none;
  max-width: 500px;
  padding: 10px;
}

.footer-1 {
  p {
    padding: 20px 0;
    line-height: 1.4;
  }

  .many {
    padding: 5px 0;
    display: flex;
    justify-content: space-between;
    max-width: 90px;
  }
}
.footer-contact ul li {
  display: flex;
}
