:root {
  --black: #020502;
  --white: #fefefe;
  --deep-green: #163518;
  --h3-color: #43a047;
  --text: #585c58;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Georgia;
}

body {
  background: var(--white);
}

.container {
  padding-left: 10%;
  padding-right: 10%;
}

.btn {
  background: var(--deep-green);
  color: var(--white);
  padding: 14px 25px;
  font-size: 16px;
  border-radius: 30px;
  cursor: pointer;
  border: 0;
  outline: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.btn img {
  width: 20px;
  margin-left: 10px;
}
